* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;

}

.wrapper {
    height: 100%;
    width: 100%;
    background-color: aqua;
}

.nav {
    height: 10%;
    width: 100%;
    background-color: darkred;
    display: flex;
    align-items: center;
}

.leftnav {
    height: 100%;
    width: 20%;
    background-color: blue;
    display: flex;
    align-items: center;
}

.midnav {
    height: 100%;
    width: 70%;
    background-color: darkgreen;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.midnav h3{
        font-size: 1.5vw;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
    
}

.rightnav {
    height: 100%;
    width: 10%;
    background-color: blueviolet;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rightnav h1{
    
}


.leftnav h1 {
   color: white;
    font-family: serif;
}

.leftnav span {

    color: lightsalmon;
}
.banner{
  height: 500px;
  width: 100%;
  background-color: darkmagenta;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
.upper{
    height: 100px;
    width: 30%;
    background-color: darkorange;
display: flex;
justify-content: center;
align-items: center;

}
.upper H3{
    height: 1vw;
}
.mid{
    width: 60%;
    height: 100px;
    background-color: darkred;


}
.low{
    height: 100px;
    width: 20%;
    background-color: darkseagreen;
}