* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    height: 100%;
    width: 100%;
}

.wrapper {
    height: 100%;
    width: 100%;
}

.navigation {
    height: 2000px;
    width: 100%;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.white-div {
    height: 1000px;
    width: 20%;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
}

.A {
    display: flex;
}

.upper {
    height: 250px;
    width: 100%;
    background-color: aqua;
}

.mid {
    height: 250px;
    width: 100%;
    background-color: aqua;
}

.lower {
    height: 250px;
    width: 100%;
    background-color: aqua;
}

.white-div img {
    height: 250px;
    width: 100%;
}

.white1-div {
    height: 1700px;
    width: 20%;
    background-color: red;
    display: flex;
    flex-direction: column;

}

.A {
    height: 50px;
    width: 100%;

}


.black-div {
    height: 1700px;
    width: 20%;
    background-color: red;

}


.black1-div {
    height: 1000px;
    width: 20%;
    background-color: red;
}


.div1 {
    height: 200px;
    width: 100%;
    background-color: aqua;
}

.div1 {
    height: 100px;
    width: 100%;
    background-color: aqua;
}

.div1 {
    height: 1200px;
    width: 100%;
    background-color: aqua;
}

.div1 {
    height: 200px;
    width: 100%;
    background-color: aqua;
}